body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #e7f9e5 0%, #c9f2e3 15%, #b4edd7 30%, #669dc9 100%);
}
svg {
  transform: translate(-5%, -10%);
  margin: 20px;
}
svg circle {
  cursor: pointer;
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  fill-opacity: 0.5;
  z-index: 10;
  position: relative;
}
svg circle:hover {
  fill: #000;
}
svg circle.dope {
  stroke: #00f;
}
svg circle.dope:hover {
  fill: #00f;
}
#info h1 {
  font-size: 1.5rem;
  position: absolute;
  top: 27%;
  width: 250px;
  transform: translateX(30%);
  white-space: normal;
}
h1 {
  font-size: 2.5rem;
  font-family: sans-serif;
  opacity: 0.7;
  text-shadow: 0 0 7px rgba(0,0,0,0.5);
  white-space: nowrap;
}
h1 span {
  font-size: 2rem;
}
#title {
  position: absolute;
  transform: translateX(35%);
}
.label {
  fill: #000;
  font-size: 10px;
  font-family: sans-serif;
}
